[user]
  name = Arash Mousavi
  email = mousavi.arash@gmail.com
  signingKey = 755F730D
[color]
  ui = auto
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  pager = true
[color "status"]
  added = green
  changed = yellow
  untracked = red
[alias]
  up = pull --rebase --stat
  blog = log --pretty=format:\"%h %ad %G? | %s%d [%an]\" --graph --date=short
  latest = for-each-ref --count=10 --sort=-committerdate --format='%(committerdate:short) %(refname:short)'
  # see changes in latest pull
  pulled = log --pretty=format:\"%h %ad | %s%d [%an]\" --date=short --reverse --no-merges --stat @{1}..
  pull = pull --rebase --stat
[push]
  default = tracking
[core]
  editor = vim
  excludesFile = ~/.gitignore
  ignorecase = true
[giggle]
  main-window-view = FileView
  history-view-vpane-position = 262
  main-window-maximized = true
  main-window-geometry = 254x52+2+32
  file-view-vpane-position = 189
[diff]
  tool = meld
[rebase]
  autosquash = true
[pager]
  diff = delta
  log = delta
  reflog = delta
  show = delta
[delta]
  features = side-by-side line-numbers decorations
  whitespace-error-style = 22 reverse
[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
[interactive]
  diffFilter = delta --color-only
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
[commit]
  gpgsign = true
[pull]
  rebase = true
